<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <div th:each="erro : ${mensagem}">
        <p th:text="${erro}"></p>
    </div>
    <form method="POST">

        Nome: <input type="text" name="nome">
        Sobrenome: <input type="text" name="sobrenome">
        Email: <input type="text" name="email">
        Apelido: <input type="text" name="apelido">
        Senha: <input type="password" name="senha">
        <button type="submit">Cadastrar</button>

    </form>
</body>
</html>